* {
	color: #ccc;
	text-shadow: #000 2px 2px 2px;
}

body {
	background: #555;
	#border: solid 1px;
	border-radius: 10px;
}

header {
	background: #444;
	box-shadow: inset 2px 2px 2px #333;
	border-radius: 10px;
}

h1 {
	#text-shadow: #000 2px 2px 2px;
}

nav {
	#border: solid 1px;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #444;
	background: #666;
}

button.nav {
	outline: none;
	border: none;
	background: #666;
}

button.nav:hover {
	outline: none;
	background: #777;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #555;
	cursor: pointer;
	text-shadow: #ccc 0 0 2px;
}

button.nav:active{
	outline: none;
	background: #555;
	box-shadow: inset 2px 2px 2px #444;
	text-shadow: #000 2px 2px 2px;
}

aside {
	#border: solid 1px;
	border-radius: 10px;
	box-shadow: inset 2px 2px 2px #333;
	background: #444;
}

h1.aside {
	background: #555;
	box-shadow: 2px 2px 2px #333;
}

main {
	#border: solid 1px;
	border-radius: 10px;
	box-shadow: inset 2px 2px 2px #333;
	background: #444;
}

footer {
	#border: solid 1px;
	border-radius: 10px;
	box-shadow: inset 2px 2px 2px #333;
	background: #444;
}