* {
	margin: 0;
	padding: 0;
}

body {
	display: grid;
}

/****************************************/

nav.top {
	display: grid;
	grid-template-columns: 250px 1fr 400px;
	height: 40px;
}
nav.top h3 {
	display: grid;
	align-content: center;
	justify-content: center;
}
nav.top div.redes button {
	margin-top: 6px;
	margin-right: 16px;

}
nav.top div.redes button img {
	width: 25px;
	height: 25px;
}
nav.top div.redes {
	display: grid;
	grid-auto-flow: column;
}

/****************************************/

nav.bottom {
	display: grid;
	grid-auto-flow: column;
	min-height: 48px;
}

nav.bottom h3.header {
	padding-top: 10px;
}

/****************************************/
header {
	display: grid;
	height: 300px;
	justify-content: center;
	align-content: end;
}
/***************************************/
main {
	padding-left: 10%;
	padding-right: 10%;
	display: grid;
	grid-template-columns: 250px 1fr;
	align-content: start;

}
main aside {
	padding: 8px;
	grid-column: 1 / 2;
}
/****************************************/
main section.contenido {
	min-height: 2000px;
	grid-gap: 8px;
	padding: 8px;
	display: grid;
	grid-column: 2 / 3;
}
/****************************************/
nav.contenido {
	grid-column: 1 / 2;
	min-height: 50px;
}
/****************************************/
div.post {
	height: 200px;
	padding: 20px 20px;
	display: grid;
	grid-template-rows: 50px 1fr;
	grid-gap: 10px;
}
div.post img {
	width: 200px;
	height: 200px;
	grid-row: 1 / 3 ;
}
div.post div.header {
	height: 50px;
	padding: 0;
	display: grid;
	grid-gap: 0;
}
div.post div.header h2 {
	padding: 0;
	margin: 0;
}
div.post div.datos {
	font-size: 12px;
}
div.post p.descripcion {
	padding: 4px;
	grid-column: 2 / 3;
}
div.post div.footer {
	padding: 4px;
}
div.post div.comentarios {
	font-size: 12px;
	padding: 4px;
}
/****************************************/
footer.contenido {
	background: none;
	min-height: 50px;
}
/****************************************/
footer {
	padding: 5px;

	display: grid;
	grid-template-columns: repeat(4,1fr);
}

footer div {
	margin: 5px;
	padding: 15px;
}

footer ul {
	margin-bottom: 15px;
}