* {
	margin: 0;
	padding: 0;
}

body {
	display: grid;
}

/****************************************/
nav.main {
	width: 100%;
	position: fixed;
	display: grid;
	grid-auto-flow: row;
}

nav.top {
	height: 30px;
	display: grid;
	grid-template-columns: 250px 400px;
	justify-content: space-between;
}
nav.top h3 {
	display: grid;
	align-content: center;
	justify-content: center;
}
nav.top div.redes button {
	margin-top: 2px;
	margin-right: 16px;
}
nav.top div.redes button img {
	width: 25px;
	height: 25px;
}
nav.top div.redes {
	display: grid;
	grid-auto-flow: column;
}

/****************************************/

nav.bottom {
	display: grid;
	grid-auto-flow: column;
	min-height: 37px;
}

nav.bottom h3.header {
	padding-top: 10px;
}

/****************************************/
header {
	display: grid;
	justify-content: center;
	align-content: end;
}
header > img {
	width: 1fr;
}

/***************************************/
main {
	padding: 10px;

	display: grid;
	gap: 10px;
	grid-auto-flow: column;
	align-items: stretch;
}
/****************************************/
aside {
	padding: 10px;
	display: grid;
	gap: 10px;
	align-items: start;
	align-content: start;
}

aside > div {
	padding: 10px;
	display: grid;
	gap: 10px;
	align-items: start;
}
/****************************************/
section {
	padding: 10px;
	display: grid;
	grid-auto-flow: row;
}

section > div {
	padding: 10px;
	display: grid;
	gap: 10px;
}

section > div > img {
	width: 100%;
}

section > div.exp > div {
	display: grid;
	gap: 10px;
	grid-auto-flow: column;
	grid-template-columns: repeat(3, 1fr);
	align-items: stretch;
	justify-items: stretch;
}
section > div.exp > div > img {
	grid-column: 1/span 2;
	width: 100%;
	min-width: 0;
	max-width: 500px;
}
section > div.exp > div > iframe {
	min-width: 0;
}

/****************************************/

footer {
	padding: 5px;

	display: grid;
	grid-template-columns: repeat(4,1fr);
}

footer div {
	margin: 5px;
	padding: 15px;
}

footer ul {
	margin-bottom: 15px;
}

/****************************************/

@media (max-width: 1366px) {
	main {
		grid-template-columns: repeat(10, 1fr);
	}
	aside {
		grid-column: 2/4;
	}
	section {
		grid-column: 4/10;
	}
}

@media (max-width: 1080px) {
	main {
		grid-template-columns: repeat(8, 1fr);
	}
	aside {
		grid-column: 1/3;
	}
	section {
		grid-column: 3/9;
	}
}
@media (max-width: 720px) {
	nav.top {
		padding-left: 20px;
		padding-right: 20px;
		grid-template-columns: 1fr;
		height: 80px;
	}
	nav.top h3 {
		display: none;
	}
	nav.top div.redes button img {
		width: 40px;
		height: 40px;
	}
	main {
		grid-auto-flow: row;
		grid-template-columns: 1fr;
	}
	aside {
		grid-column: 1 / 2;
	}
	section {
		grid-column: 1 / 2;
	}
	footer {
		grid-template-columns: 1fr;
	}
}