* {
	margin: 0;
	padding: 0;
}

body {
	display: grid;
}

/****************************************/

nav.top {
	display: grid;
	grid-template-columns: 250px 1fr 400px;
	height: 40px;
}
nav.top h3 {
	display: grid;
	align-content: center;
	justify-content: center;
}
nav.top div.redes button {
	margin-top: 6px;
	margin-right: 16px;

}
nav.top div.redes button img {
	width: 25px;
	height: 25px;
}
nav.top div.redes {
	display: grid;
	grid-auto-flow: column;
}

/****************************************/

nav.bottom {
	display: grid;
	grid-auto-flow: column;
	min-height: 48px;
}

nav.bottom h3.header {
	padding-top: 10px;
}

/****************************************/
header {
	display: grid;
	height: 300px;
	justify-content: center;
	align-content: end;
}
/***************************************/
main {

	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;

	display: grid;
	gap: 10px;
	grid-template-columns: 250px 1fr;
	grid-auto-flow: column;
	align-items: stretch;
}
/****************************************/
aside {
	padding: 10px;
	display: grid;
	gap: 10px;
	align-items: start;
}

section {
	padding: 10px
}

section > div {
	padding: 10px;
	display: grid;
	gap: 10px;
}

div.sobre_mi {
	padding: 10px;
	display: grid;
	gap: 10px;
	align-items: start;
}
/****************************************/
footer {
	padding: 5px;

	display: grid;
	grid-template-columns: repeat(4,1fr);
}

footer div {
	margin: 5px;
	padding: 15px;
}

footer ul {
	margin-bottom: 15px;
}